<nav class="navbar navbar-default">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      
      <% if current_user  %>

        You are authoring as <%= current_user.user_name %>
        <%= link_to "Story-line", posts_path %>
        <%= link_to 'LOG OUT!', logout_path, method: :delete %>
        <td><%= link_to 'Edit Account', edit_user_path(current_user) %></td>
        <%= link_to 'Destroy My Account Forever', delete_user_path(current_user),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
        
      <% else %>
        <%= link_to 'SIGN UP PAGE', users_new_path %>
        <%= link_to 'LOG IN PAGE', login_path %>
      <% end %>
    </div>
  </div>
</nav>