<h1>Listing posts</h1>

<%= link_to 'New post', posts_new_path %>
 
<table>
  <tr>
    <th>Image</th>
    <th>Body</th>
    <th>Landmark</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td>
      <%= image_tag post.image.url(:large) %></td>
      <td><%= post.body %></td>
      <td><%= post.landmark %></td>
      <td><%= post.city %></td>
      <td><%= post.state %></td>
      <td><%= post.country %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', delete_post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>