<p>
 	<strong>Photo:</strong>
	<%= @post.photo %>
</p>
 
<p>
	<strong>Body:</strong>
	<%= @post.body %>
</p>
<p>
	<strong>Landmark:</strong>
	<%= @post.landmark %>
</p>
<p>
	<strong>City:</strong>
	<%= @post.city %>
</p>
<p>
	<strong>State:</strong>
	<%= @post.state %>
</p>
<p>
	<strong>Country:</strong>
	<%= @post.country %>
</p>